#weather_image {
 filter: invert(100%) ;   
}
.main_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.list-group-item {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.past_search_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 1rem;
}

.weather_content {
    display: flex;
    flex-direction: column;
}

.current_city_weather {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    box-sizing: unset;
    margin: 2%;
}

#icon_span {
    box-shadow: 2px 2px 2px rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.25);
    max-height: fit-content;
}

.forecast_card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7px;
    justify-content: space-evenly;
}