

#weather_image {
 filter: invert(100%) ;   
}

.list_group {
    flex: 1 1 auto;
    min-width: 6rem;
}

.main_container {
    display: flex;
    
    flex-direction: row;
}
.list-group-item {
    /* display: flex; */

    align-items: center;
    justify-content: center;
}

.past_search_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 1rem;
}

.weather_content {
    display: flex;
    flex-direction: column;
}

.current_city_weather {
    margin: 2%;
}


.forecast_card_container {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: space-evenly;
}